body {
    margin: 0;
    font-family: Arial;
    text-align: center;
    background: black;
    color: white;
}

h1 {
    margin-top: 80px;
}

.rooms {
    margin-top: 50px;
}

button {
    padding: 20px 40px;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
    background: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background: red;
    transform: scale(1.1);
}

#jumpscare {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background:black;
    display:none;
    justify-content:center;
    align-items:center;
}

#jumpscare img {
    width:100%;
    height:100%;
    object-fit:cover;
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0%{transform:translate(5px,5px);}
    25%{transform:translate(-5px,5px);}
    50%{transform:translate(5px,-5px);}
    75%{transform:translate(-5px,-5px);}
    100%{transform:translate(5px,5px);}
}
